:root {
    box-sizing: border-box;
    --dark-orange: darkorange;
    --light-gray: lightgray;
    --black: black;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body{
    overflow: hidden;
    background-image: url(./images/ld_DAJ-NA03YsxFGKV79YOzuRP2q5M_9YCTptcRc6so.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

li{
    list-style: none;
    color: var(--black);
}

.burger-button{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.main-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-gray);
    border: 2px var(--black) solid;
    border-radius: 3%;
    width: 31.25rem; /* 500px */
    margin: 1rem; /* Adjust this value if needed */
    position: absolute;
    right: 1rem; /* Adjust this value if needed */
    top: 1rem; /* Adjust this value if needed */
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.sensor-showcase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    width: 80%; /* Adjust this value if needed */
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

.sensor-container{
    width: 12.5rem; /* 200px */
    height: 37.5rem; /* 600px */
    border: 6px var(--dark-orange) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    transition: all 0.3s ease-in-out;
}

.sensor-container:hover{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.circle-container{
    border: 2px green solid;
    border-radius: 50%;
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor-title{
    transition: font-size 0.3s ease-in-out;
}

.sensor-title:hover{
    cursor: pointer;
    font-size: 2.05em;
}
